{extend name='public/base' /}

{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
<link rel="stylesheet" href="__STATIC__/js/jqueryiconpicker/css/font-awesome.css">
{/block}


{block name='content'}

<section class="Hui-article-box">
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i>
        首页 <span class="c-gray en">&gt;</span>
        菜单管理 <span class="c-gray en">&gt;</span>
        菜单列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">

            <div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
					<a href="javascript:;" onclick="unDelete()" class="btn btn-danger radius">
						<i class="Hui-iconfont">&#xe6e2;</i>
						批量恢复
					</a>
					<a href="javascript:;" onclick="member_add('添加菜单','{:url("menu/menuAdd")}','','510')" class="btn btn-primary radius">
						<i class="Hui-iconfont">&#xe600;</i>
						添加菜单
                    </a>
				</span>
                <span class="r">共有数据：<strong>{$count}</strong> 条</span>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="50">ID</th>
                        <th width="50">菜单名称</th>
                        <th width="100">地址</th>
                        <th width="70">图标</th>
                        <th width="100">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <noempty name="'menuList">
                        {volist name='menuList' id='vo'}
                        <tr class="text-c">

                            <td>{$vo.id}</td>
                            <td class="text-l">{$vo._name}</td>
                            <td>{$vo.menuurl}</td>
                            <td><span class="selected-icon"><i class="{$vo.icon}"></i></span></td>
                            <td class="td-manage">
                                <a title="编辑" href="javascript:;" onclick="member_edit('菜单编辑','{:url("menu/menuEdit",["id"=>$vo["id"]])}','','510')" class="ml-5" style="text-decoration:none">
                                <i class="Hui-iconfont">&#xe6df;</i>
                                </a>
                                <a title="删除" href="javascript:;" onclick="member_del(this,'{$vo.id}')" class="ml-5" style="text-decoration:none">
                                    <i class="Hui-iconfont">&#xe6e2;</i>
                                </a>
                            </td>
                        </tr>
                        {/volist}
                    </noempty>
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</section>

{/block}

{block name='js'}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(function(){

        $('.table-sort tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                $('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
    /*用户-添加*/
    function member_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*用户-查看*/
    function member_show(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*用户-编辑*/
    function member_edit(title,url,w,h){
        $.get(url); //执行控制器中的编辑操作
        layer_show(title,url,w,h);
    }

    /*用户-删除*/
    function member_del(obj,id) {

        layer.confirm('确认要删除吗？', function (index) {
            $.get("{:url('role/deleteMenu')}", {id: id});
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }

    //批量恢复(原模板中没有,自己动手,丰衣足食)
    function unDelete() {
        layer.confirm('确认要恢复吗？', function () {
            $.get("{:url('menu/unDelete')}");

            layer.msg('已恢复!', {icon: 1, time: 1000}); //消息弹层1秒后消失
            window.location.reload(); //重新加载页面,显示所有数据
        });

    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>
</html>